tags
*.o
*.swp
src/services
run/services
run/*.conf
run/crypt.key
run/services.motd
run/services.pid
run/data/lang/*
run/data/logs/*
run/data/*.db
run/data/services.core-*
run/data/services-*
lang/lang_msg_svc.h
lang/*.clng
Makefile.inc
inc/sysconf.h
configure.log
*~
.DS_Store
._*
