tags
src/services
run/services.pid
run/services.motd
run/services
run/data/services.core-*
run/data/services-*
run/data/logs/*
run/data/lang/*
run/data/backup/*
run/data/*.save
run/data/*.db
run/crypt.key
run/core
run/*.conf
._*
.DS_Store
*~
*.swp
*.o
lang/__pycache__/
/.vscode/**
/.idea/**
/tmp/**
*.a
*.bak
*.core
*.d
*.dep
*.dll
*.dll.*
*.dylib
*.exe
*.orig
*.pc
*.rej
*.so
*.so.*
.deps
.depend
.depend-done
core
/aclocal.m4
/buildsys.mk
/extra.mk
/autom4te.cache
/config.log
/config.status
