tags
*.o
*.swp
src/services
run/services
run/*.conf
run/crypt.key
run/services.motd
run/data/logs/*
run/data/*.db
run/data/services.core-*
run/data/services-*
Makefile.inc
inc/sysconf.h
configure.log
*~
.DS_Store
._*
