Azzurra IRC Services

Includes NickServ, ChanServ, and MemoServ services.

For a listing of available NickServ commands, type: /msg NickServ HELP
For a listing of available ChanServ commands, type: /msg ChanServ HELP
For a listing of available MemoServ commands, type: /msg MemoServ HELP

Further information and help on services commands are available in #IRCHelp

Report bugs via E-Mail at irc@azzurra.chat thank you!

Coding Team: Shaka, Gastaman, Sonic, morph, Scorpion.
