Azzurra IRC Services

Includes NickServ, ChanServ, and MemoServ services.

For a listing of available NickServ commands, type: /msg NickServ HELP
For a listing of available ChanServ commands, type: /msg ChanServ HELP
For a listing of available MemoServ commands, type: /msg MemoServ HELP

Further information and help on services commands are available in #IRCHelp

Report bugs using http://ticket.azzurra.org or via E-Mail at bugs@azzurra.org thank you!

Coding Team: Gastaman, Shaka.
Contact us at: services@azzurra.org
